
$background-color: #00B7DF;
$chat-body-color: #FFFFFF;
$chat-text-bg-color: #F1F0F0;

$height: 84vh;

.body-container{
  background: linear-gradient(to right, $background-color *.7  0%, $background-color   100%);
  height: $height;
};

.action-container{
  height: $height;

  img{
    margin-top: $height * .25;
    height: 3em;
  };
};

.chat-container{
  z-index: $zindex-modal;
  margin-top: $height * .135;

  .chat-header{
    background-color: #006989;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;

    .chat-header__img{
      height: 1em;
      padding: 1em;
    };

    p{
      padding-left: 1em;

    }
  };

  .chat-body{
    background-color: $chat-body-color;
    overflow-y: scroll;
    overflow-x: hidden;
    height: $height * .72;


    .chat-body__msg--div{
      padding: 0.15em;
    }
    .chat-body__msg{
      background-color: $chat-text-bg-color;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      p{
        margin: 0;
        padding-top: 0.1em;
        padding-bottom: 0.1em;
      }
    }
    .chat-body__msg--time{
      background-color: $chat-body-color;
    };
  };

  .chat-footer{
    input{
      background-color: $chat-body-color;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    };
  };
};

.login-container{
  z-index: $zindex-modal;
  margin-top: $height * .135;

  .login-header{
    background-color: $background-color * .6;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;

    .login-header__img{
      height: 1em;
      padding: 1em;
    };

    p{
      padding-left: 1em;

    }
  };

  .login-body{
    background-color: $chat-body-color;
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    //overflow-y: scroll;
    //overflow-x: hidden;
    height: $height * .38;

    input{
      width: 94%;
    };

    .login-body__msg--time{
      background-color: $chat-body-color;
    };

  };

};