
$background-color: #00b7df;
$chat-body-color: #DCEAF3;
$chat-text-bg-color: rgba(210, 210, 210, 0.96);

$height: 78vh;

.body-container{
  background: linear-gradient(to right, $background-color *.7  0%, $background-color   100%);
  height: $height;
};

.action-container{
  height: $height;

  img{
    margin-top: $height * .25;
    height: 3em;
    padding: 1em;
  };
};

.chat-container{
  z-index: $zindex-modal;
  margin-top: $height * .13;

  .chat-header{
    background-color: #006989;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;

    .chat-header__img{
      height: 1em;
      padding: 1em;
    };

    p{
      padding-left: 1em;

    }
  };

  .chat-body{
    background-color: $chat-body-color;
    overflow-y: scroll;
    overflow-x: hidden;
    height: $height * .72;

    .chat-body__msg--div{
      padding: 0.3em;
    }
    .chat-body__msg{
      background-color: #a1afb8;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      p{
        margin: 0;
        padding-top: 0.1em;
        padding-bottom: 0.1em;
      }
    }
    .chat-body__msg--time{
      background-color: $chat-body-color;
    };
  };

  .chat-footer{
    input{
      background-color: $chat-body-color;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    };
  };
};