$background-color: #005A74;
$title-color:#F9F895;
$text-color: #f7f7f7;

.header-container{
  background: linear-gradient(to right, $background-color 0%, $background-color * 1.2 100%);

  .header-container__logo{
    padding-left: 3em;
    img{
      height: 6em;
    }
  }

  .header-container__title{
    a{
      text-decoration: none;
      p{
        padding: 0;
        margin: 0;
        color: $title-color;
      }
    };

    p{
      padding: 0;
      color: $text-color;
    }
  };

  .header-container__button{
    padding-right: 3em;
  }
};